body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f2f2f2;
}

h1 {
    color: #007acc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}